@import url('./root.css');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;500;700&family=Raleway:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none !important;
    text-decoration: none !important;
}

.my-container {
    max-width: 1140px !important;
}

.mw-1165 {
    max-width: 1165px !important;
}

.ff-montserrat {
    font-family: 'Montserrat Alternates', sans-serif;
}

.ff-raleway {
    font-family: 'Raleway', sans-serif;
}

/* navbar */
nav {
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.06);
}

/* nav */

ul {
    padding-left: unset !important;
}

.cross-1 {
    rotate: 45deg;
    transition: .4s;
}

.cross-2 {
    position: relative;
    transition: .4s;
    top: -80%;
    rotate: -45deg;
}

.cross-3 {
    display: none !important;
}

.cross-4 {
    transition: .4s;
}

.cross-5 {
    transition: .4s;
}

.cross-6 {
    transition: .4s;
}

.flow-hidden {
    overflow: hidden;
}

.nav-login-btn {
    border-radius: 5px;
    border: 1px solid var(--lightwhite);
    background: transparent;
    padding: 10px 28px;
    transition: .4s;
}

.nav-bottom-line::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    border-radius: 15px;
    background: var(--lightwhite);
    right: 0;
    bottom: -10%;
    transition: .5s;
}

.nav-bottom-line:hover::before {
    width: 100%;
    left: 0;
}

.primary-btn {
    border-radius: 5px;
    padding: 16px 30px;
    border-radius: 5px;
    border: 1px solid var(--lightwhite);
    transition: .4s;
}

.primary-btn:hover {
    background-color: var(--brown2) !important;
}

.lh-150 {
    line-height: 150%;
}

/* herosection */
.mxw-800 {
    max-width: 800px;
}

.mxw-730 {
    max-width: 730px;
}

.line3-position {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 30px;
}

.loop-position {
    position: absolute;
    bottom: 10%;
    left: 20%;
    width: 30px;
}

.circle-position {
    position: absolute;
    top: 10%;
    left: 30%;
    width: 30px;
}

.wii-mark-position {
    position: absolute;
    bottom: 10%;
    right: 10%;
    width: 30px;
}

.ellipse-position {
    position: absolute;
    top: 0;
    right: 10%;
}

.herosec-orangeEllipse {
    position: absolute;
    bottom: 4%;
    left: -22%;
    width: 100px;
}

.herosec-blueEllipse {
    position: absolute;
    bottom: 60%;
    left: -26%;
    width: 100px;
}

.herosec-triangleEllipse {
    position: absolute;
    bottom: 4%;
    right: -22%;
    width: 100px;
}

.herosec-yellowEllipse {
    position: absolute;
    bottom: 60%;
    right: -26%;
    width: 100px;
}

/* section */
.my-container2 {
    max-width: 1400px !important;
}

.mxw-700 {
    max-width: 700px;
}

/* Services */
.mw-612 {
    max-width: 612px;
}

.sec-box {
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    padding: 14px 16px;
    transition: .4s;
}

.sec-box:hover {
    border: 1px solid var(--yellow);
    background: #242323;
    box-shadow: 5px 5px 0px 0px var(--yellow);
}

.yellow-elipes1 {
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    width: 300px;
    height: 138px;
    flex-shrink: 0;
    position: absolute;
    top: -2%;
    left: -6%;
}

.yellow-elipes2 {
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    width: 300px;
    height: 138px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.triangle-elipes {
    position: absolute;
    top: 11%;
    left: 16%;
}

.wifi-elipes {
    position: absolute;
    top: 6%;
    right: 16%;
}

.virus-elipes {
    position: absolute;
    bottom: 6%;
    left: 0%;
}

.dots-elipes {
    position: absolute;
    bottom: 6%;
    right: 2%;
}

/* pricing-section */
.pricing-card {
    padding: 32px;
    max-width: 364px;
    border-radius: 15px;
    border: 1px solid var(--lightblack2);
    height: 100%;
    transition: .4s;
}

.pricing-card:hover {
    border: 1px solid var(--yellow);
    box-shadow: 10px 10px 0px 0px #FFCF23;
}

.pricing-card:hover .priceuppar-btn {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color: var(--lightwhite);
}

.pricing-card:hover .price-btn {
    border: 2px solid var(--brown);
}

.br-line {
    border-bottom: 1px solid var(--gray);
}

.price-btn {
    padding: 16px 30px;
    border-radius: 5px;
    border: 2px solid var(--lightblack2);
    transition: .4s;
}

.priceuppar-btn {
    padding: 12px 20px;
    border-radius: 45px;
    border: 1px solid var(--lightblack2);
    background: var(--lightwhite2);
    transition: .4s;
}

.position-priceBtn {
    position: absolute;
    top: -28px;
    left: 10%;
}

.price-img1 {
    mix-blend-mode: multiply;
}

.mxw-460 {
    max-width: 460px;
}

.mxw-350 {
    max-width: 350px;
}

.price-lowerBtn {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    padding: 14px 32px;
    background-color: transparent;
    transition: .4s;
}

.price-lowerBtn:hover {
    background-color: var(--brown2);
    color: var(--lightwhite);
}

.right-line {
    border-right: 2px solid rgba(0, 0, 0, 0.10);
}

/* webflow */
.webflow-blue {
    position: absolute;
    right: 0%;
    top: 65%;
    width: 100px;
}

.webflow-wii {
    position: absolute;
    left: 20%;
    bottom: 20%;
    width: 40px;
}

.webflow-triangle {
    position: absolute;
    left: 3%;
    top: 10%;
    width: 100px;
}

.webflow-btn {
    border-radius: 39px;
    background: rgba(255, 255, 255, 0.20);
    padding: 12px 23px;
    border: none;
    width: 100px;
}

.webflow-ellipse1 {
    width: 300px;
    height: 138px;
    flex-shrink: 0;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    position: absolute;
    top: 0;
    left: -20px;
}

.webflow-ellipse2 {
    width: 300px;
    height: 138px;
    flex-shrink: 0;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    position: absolute;
    bottom: -20px;
    right: -20px;
}

/* Relevant Works */
.mw-697 {
    max-width: 697px;
}

.btn-book {
    border-radius: 5px;
    background: #FFF9E4;
    padding: 16px 30px;
    transition: .4s;
}

.btn-book:hover {
    background: #FFF9E4;
    box-shadow: 5px 5px 0px 0px #3C3C3C;
    padding: 16px 30px;
}

.mw-slider {
    max-width: 831.575px;
    max-height: 700.369px;
}

.hero-work-elipes1 {
    position: absolute;
    top: 2%;
    left: -3%;
}

.hero-work-elipes4 {
    position: absolute;
    bottom: 1%;
    right: -4%;
}

.revelant-work .slick-active {
    transform: scale(1.1);
}

.revelant-work .slick-track {
    padding-top: 50px;
    padding-bottom: 50px;
}

/* preloader */
.loader_bg {
    display: flex;
    position: fixed;
    z-index: 999999;
    background: var(--gray4);
    width: 100%;
    height: 100%;
}

.loader {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.loader-img {
    position: absolute;
    top: 30%;
    left: 50%;
    /* transform: translate(-50%,-50%); */
    animation: updown 2s linear infinite;
}


/* backToTop */
#backToTop {
    width: 40px;
    height: 40px;
    animation: float 2.4s linear infinite;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 5;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

* Frequently Asked Questions */ .accordion-button {
    background-color: var(--text-lightwhite3) !important;
}

.accordion {
    --bs-accordion-bg: var(--text-lightwhite3) !important;
    --bs-accordion-border-color: none !important;
    max-width: 880px !important;
}

.accordion-button:focus {
    z-index: 3;
    border-color: none !important;
    outline: 0;
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url('../images/accordian-arrow-img.png') !important;
    display: none;
}

.accordion-button:not(.collapsed) {
    color: var(--bs-accordion-active-color);
    background-color: unset !important;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.mw-840 {
    max-width: 840px;
}

.hero-sec-elipes1 {
    position: absolute;
    top: 1%;
    left: -4%;
}

.hero-sec-elipes4 {
    position: absolute;
    bottom: -11%;
    right: -7%;
}

.accordion-item {
    border: none !important;
}

.bb-1 {
    border-bottom: 1px solid var(--light-gray) !important;
}

.qa-blue {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
}

.qa-triangle {
    position: absolute;
    bottom: 5%;
    right: 0;
    width: 40px;
}

/* customer section */
.customer-card {
    border-radius: 15px;
    border: 1px solid #242323;
    max-width: 800px;
    padding: 0px 26px;
    height: 100%;
}

.slick-active .sec-customer-card:hover {
    border-radius: 15px;
    border: 1px solid #FFCF23;
    box-shadow: 5px 5px 0px 0px var(--text-yellow);

}

.mxw-548 {
    max-width: 548px;
}

.slick-dots li button:before {
    font-family: slick;
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 43px !important;
    height: 11px !important;
    content: '' !important;
    text-align: center;
    opacity: .25;
    color: #000;
    background-color: #000 !important;
    border-radius: 7px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li {
    margin: 0px 15px !important;
}


.footer-circle {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 50%;
    background: rgba(250, 250, 250, 0.15);
    transition: .4s;
}

.footer-circle:hover {
    transform: translatey(-10px);
}

.mx-320 {
    max-width: 320px;
}

.footer-last-line {
    max-width: 100%;
    height: 2px;
    opacity: 0.2;
    background: var(--gray4);
}

/* keyrames */
@keyframes float {
    0% {
        transform: translatey(0) scale(1);

    }

    50% {
        transform: translatey(-10px) scale(1.2);

    }

    100% {
        transform: translatey(0) scale(1);
    }
}

@media (min-width:768px) {
    .accordion-button::after {
        background-image: url('../images/accordian-arrow-img.png') !important;
        display: block;
    }

    .slick-dots li button:before {
        width: 57px !important;
    }

    .slick-dots li {
        margin: 0px 20px !important;
    }

    .price-btn {
        padding: 16px 95px;
        border-radius: 5px;
        border: 2px solid var(--lightblack2);
        transition: .4s;
    }

    .priceuppar-btn {
        padding: 12px 57px;
        border-radius: 45px;
        border: 1px solid var(--lightblack2);
        background: var(--lightwhite2);
        transition: .4s;
    }

    .herosec-orangeEllipse,
    .herosec-blueEllipse,
    .herosec-triangleEllipse,
    .herosec-yellowEllipse {
        width: unset;
    }

    .line3-position,
    .wii-mark-position,
    .loop-position,
    .circle-position {

        width: unset;
    }

    .webflow-blue {
        position: absolute;
        right: 0%;
        top: 48%;
        width: unset;
    }

    .webflow-wii,
    .webflow-triangle {
        width: unset;
    }

    .qa-blue {
        position: absolute;
        top: 10%;
        left: 0;
        width: unset;
    }

    .qa-triangle {
        position: absolute;
        bottom: 10%;
        right: 0;
        width: unset;
    }
}

@media (max-width:992px) {
    label[id="menuIcon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        position: absolute;
        right: 2%;
        top: 12%;
        justify-content: space-between;
        flex-direction: column;
        z-index: 5;
        align-items: center;
    }

    label[id="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background: var(--lightwhite);
    }

    .nav-box {
        flex-direction: column !important;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        position: fixed;
        opacity: 1;
        width: 100%;
        max-width: 400px;
        height: 100%;
        background: var(--lightblack3);
        z-index: 3;
        box-shadow: 0px 0px 19px 9px rgba(0, 0, 0, 0.10);
        transition: all 500ms linear;
    }

    .fix-lft {
        left: 0;
    }

    .nav-line::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: var(--gray4);
        bottom: -80%;
        left: -203%;
        /* opacity: 0.2; */

    }

    .nav-line1::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: var(--gray4);
        bottom: -80%;
        left: -145%;
        /* opacity: 0.2; */

    }

    .nav-line2::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: var(--gray4);
        bottom: -80%;
        left: -175%;
        /* opacity: 0.2; */

    }

    .nav-line3::after {
        content: "";
        position: absolute;
        width: 250px;
        height: 1px;
        background: var(--gray4);
        bottom: -80%;
        left: -312%;
        /* opacity: 0.2; */

    }
}